/App/Model - Copy/build/
/App/Model - Copy/dist/
/App/Model - Copy/nbproject/private/
/App/ClientTestingWindows/build/
/App/ClientTestingWindows/dist/
/App/ClientTestingWindows/nbproject/private/
/App/Demo/nbproject/private/
/App/Demo/build/
/App/Model/dist/
/App/Demo/dist/
