/App/Model - Copy/build/
/App/Model - Copy/dist/
/App/Model - Copy/nbproject/private/
/App/ClientTestingWindows/build/
/App/ClientTestingWindows/dist/
/App/ClientTestingWindows/nbproject/private/
/App/Demo/nbproject/private/
/App/Demo/build/
/App/Model/dist/
/App/Demo/dist/
/App/Testing/nbproject/private/
/App/Servidor/dist/
/App/Crypto/nbproject/private/
/App/CryptoDemo/nbproject/private/
/App/CryptoDemo/dist/
/App/Crypto/build/
/App/Crypto/dist/
